@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 9%);
  --rose-300: hsl(14, 25%, 7%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 4%);
  --rose-900: hsl(14, 65%, 9%);
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 85%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--rose-50);
  color: var(--rose-100);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}

h1 {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--rose-900);
}

.menu-grid {
  margin-top: 5rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.menu-item {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  text-align: center;
}

.menu-item img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.menu-item h2 {
  font-size: 1.2rem;
  color: var(--rose-700);
  text-align: left;
}

.menu-item p {
  font-size: 1rem;
  color: var(--rose-400);
  text-align: left;
}

.menu-item .price {
  font-size: 1.25rem;
  color: var(--red);
  font-weight: 700;
  text-align: left;
}

.menu-item button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: -0.5rem;
  outline: none;
  border: 1px solid var(--rose-300);
  background-color: var(--rose-50);
  color: var(--rose-200);
  border-radius: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  position: relative;
  bottom: 2.3rem;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: background-color 0.3s ease-in-out;
}

.menu-item button:hover {
  box-shadow: 2px 2px var(--red);
}

.add-to-cart img {
  width: 1.4rem;
  margin-top: 5px;
  margin-right: 10px;
}

.cart {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 28%;
  max-height: 80vh;
  overflow: auto;
  margin-top: 5rem;
}

.cart h2 {
  font-size: 1.5rem;
  color: var(--rose-900);
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
  border-bottom: 1px solid var(--rose-400);
}

.cart-item p {
  font-size: 1rem;
  color: var(--rose-900);
}

.cart-item .item-price {
  color: var(--red);
  font-weight: 700;
}

.delete-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delete-item button {
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.order-total {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--green);
  margin-top: 1rem;
}

.confirm-order {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
  transition: background-color 0.2s ease;
}

.confirm-order:hover {
  background-color: var(--green);
}